<!DOCTYPE html>
<html>
<head>
    <title>Network Flow Modification</title>
</head>
<body>
    <h1>Network Flow Modification</h1>

    <form action="/modify-flows" method="POST">
        <div>
            <label for="button1">Button 1:</label>
            <input type="text" id="button1" name="button1_text">
            <button type="submit" name="button_id" value="button1">Submit</button>
        </div>
        <div>
            <label for="button2">Button 2:</label>
            <input type="text" id="button2" name="button2_text">
            <button type="submit" name="button_id" value="button2">Submit</button>
        </div>
        <div>
            <label for="button3">Button 3:</label>
            <input type="text" id="button3" name="button3_text">
            <button type="submit" name="button_id" value="button3">Submit</button>
        </div>
    </form>
</body>
</html>
